<section class="container m-y-3 text-xs-center has-divider" id="about">
    <h2 class="display-4 m-b-2">About Me</h2>
    <p class="lead m-b-3">
        I love technology and programming, and I'm fortunate to be able to work in a field I'm extremely passionate about. I travel when I can, and I currently live in São Paulo, Brazil. In my spare time I enjoy cooking and reading.
    </p>
    <h3 class="m-b-3">Places I Call Home</h3>
    <div class="row m-b-3">
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>Lebanon</h5>
            <p class="text-cursive">I'm originally from here. They invented the alphabet and they make the world's best hummus.</p>
            {% include maps/lebanon.svg fill='#f3a8b1' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>UK</h5>
            <p class="text-cursive">I grew up here. I discovered Monty Python, Ribina, Mr. Kipling, and the Arsenal Football Club.</p>
            {% include maps/uk.svg fill='#adf3a8' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>USA</h5>
            <p class="text-cursive">I went to uni and worked here! It's also where I made incredible friends and unforgettable memories.</p>
            {% include maps/us.svg fill='#a8bef3' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>Brazil</h5>
            <p class="text-cursive">This is where I live! It's beautiful, sunny, and I get to eat Moqueca when I want. Did I mention Rio?</p>
            {% include maps/brazil.svg fill='#fad9c7' %}
        </div>
    </div>
    <small class="text-muted">
        <strong>Pro-Tip:</strong> I was born in Wari, Nigeria.
    </small>
    <p class="lead m-t-3">Before I moved to São Paulo, I lived in Boston, where I worked in financial services. As a child I grew up in Beirut, Lebanon, and my teenage years where spent in London, England.
    </p>
</section>
