<footer class="outro" id="contact">
  <div class="container">
    <ul class="nav nav-inline">
        <li class="nav-item">
            {% for link in site.social_links %}
              <a
                href="{% if link.type == 'email' %}mailto:{% endif %}{{ link.url }}"
                class="nav-link nav-link-social"
                target="_blank">
                  {% include social/icon-{{link.name}}.svg size=48 %}
              </a>
            {% endfor %}
        </li>
    </ul>
  </div>
</footer>
