<footer class="outro" id="contact">
  <div class="container">
    <h2 class="display-4 m-b-2">Contact</h2>
    <p class="lead m-b-3">I can be found lurking in several places. Go ahead, I love hearing from people.</p>
    <ul class="nav nav-inline">
        <li class="nav-item">
            {% for link in site.social_links %}
              <a href="{% if link.type == 'email' %}mailto:{% endif %}{{ link.url }}" class="nav-link" target="_blank">
                  {% include social/icon-{{link.name}}.svg size=48 %}
              </a>
            {% endfor %}
        </li>
    </ul>
  </div>
</footer>
