<header class="navbar navbar-light m-y-1">
    <div class="container">
        <ul class="nav nav-inline">
            <li class="nav-item">
                <a href="{{ site.baseurl }}" class="nav-link nav-link-active">English</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Português</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">العربية</a>
            </li>
            <li class="nav-item pull-xs-right">
                <a href="https://github.com/{{ site.github_username }}" class="nav-link">
                    {% include social/icon-github.svg size=24 %}
                </a>
            </li>
        </ul>
    </div>
</header>
