<section id="intro">
    <div class="container" id="intro-scene">
        <h1 class="display-3" style="">Hello, I'm Mohamad.</h1>
        <img src="{{ site.baseurl }}/assets/mohamad.jpg" class="img-circle m-y-1" height="200" width="200" alt="Mohamad El-Husseini">
        <p class="lead">
            I’m a generalist who specializes in Ruby on Rails.
            <br>I write well tested and maintainable code, and I’m comfortable working on different parts of the stack.
        </p>
        <ul class="nav nav-inline nav-primary">
            <li class="nav-item">
                <a href="#projects" class="nav-link lead">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link lead">About</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link lead">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link lead">Contact</a>
            </li>
        </ul>
        {% include emoji.html size=32 emoji='sun' id='sun' %}
        {% include emoji.html size=24 emoji='cloud' id='sun-cloud' %}
        {% include emoji.html size=24 emoji='cloud' id='cloud-moving-lg' %}
        {% include emoji.html size=20 emoji='cloud' id='cloud-moving-sm' %}
        {% include emoji.html size=24 emoji='tree' id='tree' %}
        {% include emoji.html size=32 emoji='house' id='house' %}
    </div>
</section>
