<section class="intro">
    <div class="container">
        <h1 class="display-3" style="">Hello, I'm Mohamad.</h1>
        <img src="{{ site.baseurl }}/assets/mohamad.jpg" class="img-circle m-y-1" height="200" width="200">
        <p class="lead">
            I’m a generlist who specializes in Ruby on Rails.
            <br>I write well tested and maintainable code, and I’m comfortable working on different parts of the stack.
        </p>
        <ul class="nav nav-inline nav-primary">
            <li class="nav-item">
                <a href="#projects" class="nav-link lead">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link lead">About</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link lead">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link lead">Contact</a>
            </li>
        </ul>
        <img class="emoji" height="24" width="24" id="emoji-satelite" src="{{ site.baseurl }}/assets/emoji/satelite.png">
        <img class="emoji" height="16" width="16" id="emoji-moon" src="{{ site.baseurl }}/assets/emoji/moon.png">
        <img class="emoji" height="20" width="20" id="emoji-stars" src="{{ site.baseurl }}/assets/emoji/sparkles.png">
        <img class="emoji" height="32" width="32" id="emoji-sun" src="{{ site.baseurl }}/assets/emoji/sun.png">
        <img class="emoji" height="24" width="24" id="emoji-sun-cloud" src="{{ site.baseurl }}/assets/emoji/cloud.png">
        <img class="emoji" height="24" width="24" id="emoji-cloud-higher" src="{{ site.baseurl }}/assets/emoji/cloud.png">
        <img class="emoji" height="20" width="20" id="emoji-cloud-lower" src="{{ site.baseurl }}/assets/emoji/cloud.png">
        <img class="emoji" height="20" width="20" id="emoji-cloud" src="{{ site.baseurl }}/assets/emoji/cloud.png">
        <img class="emoji" height="24" width="24" id="emoji-tree" src="{{ site.baseurl }}/assets/emoji/tree.png">
        <img class="emoji" height="16" width="16" id="emoji-tree-small" src="{{ site.baseurl }}/assets/emoji/tree.png">
        <img class="emoji" height="20" width="20" id="emoji-me" src="{{ site.baseurl }}/assets/emoji/runner.png">
        <img class="emoji" height="32" width="32" id="emoji-house" src="{{ site.baseurl }}/assets/emoji/house.png">
        <img class="emoji" height="24" width="24" id="emoji-mosque" src="{{ site.baseurl }}/assets/emoji/tree.png">
        <img class="emoji" height="24" width="24" id="emoji-rocket" src="{{ site.baseurl }}/assets/emoji/rocket.png">
    </div>
</section>
