.emoji {
  position: absolute;
}

#emoji-tree {
  bottom: -1px;
  right: 30%;
}

#emoji-house {
  bottom: -2px;
  left: 35%;
}

#emoji-cloud-moving-sm {
  animation: bounceAcross 100s infinite linear;
  animation-delay: -6s;
  bottom: 190px;
  left: -200px;
}

#emoji-cloud-moving-lg {
  animation: bounceAcross 90s infinite linear;
  animation-delay: -45s;
  bottom: 200px;
  left: -200px;
}

#emoji-sun {
  animation: bounceRotate 5s ease-in-out infinite;
  bottom: 100px;
  left: 30%;
}

#emoji-sun-cloud {
  animation: bounce 5s ease-in-out infinite;
  animation-delay: 1s;
  bottom: 100px;
  left: 31.5%;
}
