//
// Override jumbotron on front page.
//

.intro {
  background: linear-gradient($sky-blue, $sky-orange, $body-bg);
  margin: 0 auto;

  // Without this we get x-axis scrolling
  overflow: hidden;

  // Emojis are absolute position
  position: relative;

  text-align: center;
  padding: 6rem 0 9rem;
}
