@keyframes takeoff {
  to {
    transform: translate(2000px, -500px);
  }
}

@keyframes bounceAcross {
  0% {
    transform: translate3d(0px, 100px, 0);
  }
  10% {
    transform: translate3d(150px, 110px, 0);
  }
  20% {
    transform: translate3d(300px, 100px, 0);
  }
  30% {
    transform: translate3d(450px, 120px, 0);
  }
  40% {
    transform: translate3d(600px, 100px, 0);
  }
  50% {
    transform: translate3d(750px, 110px, 0);
  }
  60% {
    transform: translate3d(900px, 90px, 0);
  }
  70% {
    transform: translate3d(1050px, 100px, 0);
  }
  80% {
    transform: translate3d(1300px, 90px, 0);
  }
  90% {
    transform: translate3d(1450px, 120px, 0);
  }
  100% {
    transform: translate3d(1600px, 100px, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceRotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bounceAtAngle {
  0% {
    transform: translateY(0) rotate(30deg);
  }
  50% {
    transform: translateY(10px) rotate(30deg);
  }
  100% {
    transform: translateY(0) rotate(30deg);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes flyby {
  0% {
    transform: translate3d(0, 102px, 0);
  }
  100% {
    transform: translate3d(-1600px, 102px, 0);
  }
}

@keyframes wobble {
  0% { transform: rotate(0) }
  10% { transform: rotate(2deg) }
  20% { transform: rotate(-2deg) }
  30% { transform: rotate(2deg) }
  40% { transform: rotate(-2deg) }
  50% { transform: rotate(2deg) }
  60% { transform: rotate(-2deg) }
  70% { transform: rotate(2deg) }
  80% { transform: rotate(-2deg) }
  90% { transform: rotate(2deg) }
  100% { transform: rotate(-2deg) }
}
