// This one is for the clouds, so the move slight up and down as the fly by.
@keyframes bounceAcross {
  0% {
    transform: translate3d(0px, 100px, 0);
  }
  10% {
    transform: translate3d(150px, 110px, 0);
  }
  20% {
    transform: translate3d(300px, 100px, 0);
  }
  30% {
    transform: translate3d(450px, 120px, 0);
  }
  40% {
    transform: translate3d(600px, 100px, 0);
  }
  50% {
    transform: translate3d(750px, 110px, 0);
  }
  60% {
    transform: translate3d(900px, 90px, 0);
  }
  70% {
    transform: translate3d(1050px, 100px, 0);
  }
  80% {
    transform: translate3d(1300px, 90px, 0);
  }
  90% {
    transform: translate3d(1450px, 120px, 0);
  }
  100% {
    transform: translate3d(1600px, 100px, 0);
  }
}

// This one is for the cloud next to the sun.
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

// This one is for the sun, to make it rotate back and forth it wobbles up and down
@keyframes bounceRotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
