<section class="container m-y-3 text-xs-center has-divider" id="about">
    <h2 class="display-4 m-b-2">About Me</h2>
    <p class="lead m-b-3" markdown="1">
        I come from a small town called
        <a href="https://en.wikipedia.org/wiki/Shmustar">Shmustar</a> near <a href="https://www.google.com/search?q=baalbak&gws_rd=cr,ssl&ei=W2fxVrGEM8T5wgSMx6eQBA#q=baalbek+temple">Baalback</a>, Lebanon. I was born in Wari, Nigeria, but I grew up in Beirut and moved to London in my teens.
    </p>
    <div class="row m-b-3">
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>Lebanon</h5>
            <p class="text-cursive">I'm originally from here. They invented the alphabet, and they make the world's best hummus.</p>
            {% include maps/lebanon.svg fill='#f3a8b1' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>UK</h5>
            <p class="text-cursive">I grew up here. I discovered Monty Python, Ribena, Mr. Kipling, and the Arsenal Football Club.</p>
            {% include maps/uk.svg fill='#adf3a8' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>USA</h5>
            <p class="text-cursive">I went to uni and worked here! It's also where I made incredible friends and unforgettable memories.</p>
            {% include maps/us.svg fill='#a8bef3' %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
            <h5>Brazil</h5>
            <p class="text-cursive">This is where I live! It's beautiful, sunny, and I get to eat Moqueca when I want. Did I mention Rio?</p>
            {% include maps/brazil.svg fill='#fad9c7' %}
        </div>
    </div>
    <small class="text-muted">
        <strong>Pro-Tip:</strong> I was born in Wari, Nigeria.
    </small>
    <p class="lead m-y-3">Eventually, I ended up in Boston, where I studied and worked for many years. These days you'll find me with my family in Sāo Paulo, Brazil.</p>
    <div class="row m-y-3">
        {% for instagram in site.instagrams %}
            {% include instagram.html %}
        {% endfor %}
    </div>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</section>
