<section id="intro">
    <div class="container">
        <h1 class="display-4">Hello, I'm Mohamad.</h1>
        <img
            src="{{ site.baseurl }}/assets/mohamad.jpg"
            class="img-circle m-y-1" height="150" width="150" alt="Mohamad El-Husseini">
        <p class="lead">Head of e-commerce at Bricoman Brazil. Start-up founder with dev chops. Proud geek.</p>
        <ul class="nav nav-inline nav-primary">
            <li class="nav-item">
                <a href="#projects" class="nav-link lead">Work</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link lead">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link lead">About</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link lead">Contact</a>
            </li>
        </ul>
    </div>
</section>
