<section id="intro">
    <div class="container">
        <h1 class="display-4">Mohamad El-Husseini</h1>
        <img
            src="{{ site.baseurl }}/assets/mohamad.jpg"
            class="img-circle m-y-1" height="150" width="150" alt="Mohamad El-Husseini">
        <p class="lead">A startup founder (with dev chops) and product guy. Former CTO. Currently Head of Product at Obramax. <br> Amateur cook and maker of Mohamad's World Famous Hummus&trade;.</p>
        <ul class="nav nav-inline nav-primary">
            <li class="nav-item">
                <a href="#projects" class="nav-link lead">Work</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link lead">About</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link lead">Contact</a>
            </li>
        </ul>
    </div>
</section>
