<section class="container m-b-3" id="projects">
    <div class="lang-bar lang-bar-xl m-b-3">
        {% assign langs = site.languages | sort: 1 %}
        {% include index/lang-bar.html langs=langs %}
    </div>
    <header class="text-xs-center m-b-3">
        <h2 class="display-4 m-b-2">Work</h2>
        <p class="lead">
            I enjoy building things and solving problems, so I'm constantly trying to learn new skills and testing new tech. You can find my <a href="https://github.com/abitdodgy">portfolio on GitHub</a>. I hope you find it helpful.
        </p>
    </header>

    <div class="container text-xs-center">
        <h3 class="text-xs-center text-capitalize has-divider has-divider-sm">Updates</h3>

        <div class="card m-y-1">
            <div class="card-block">
                <p class="card-text">I recently made two small games to learn OTP: A CLI game based on Wordle and a clone of Wordle in LiveView. Gameplay below.</p>

                <div class="col-xs-12 col-sm-6">
                    <iframe width="100%" height="600" src="https://youtube.com/embed/_a8ux4XpKLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <iframe width="100%" height="600" src="https://youtube.com/embed/RLshh2CGP0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    {% assign categories = site.featured_projects | sort: 'position' | group_by: 'category' %}
    {% for category in categories %}
        <h3 class="text-xs-center text-capitalize has-divider has-divider-sm">{{ category.name }}</h3>
        <p>{{ collection.subtitle }}</p>
        <div class="row">
            {% for featured_project in category.items %}
                <div class="col-xs-12 col-sm-6 col-md-4 m-y-1">
                    {% include featured_project.html %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
